body {
	background-color: #121212;
	font-family: 'Roboto Slab', serif;
	height: 100%;
	user-select: none;
	color: #D7D7D7;
}


#all {
  min-height: 100%;
  position:relative;
}

p {
	font-size: 20px;
}

#guessPrompt {
	margin:0px 0px 20px 0px;
}

@media only screen and (max-width: 500px){
	p#guessPrompt {
		font-size: 18px;
		margin:0px 0px 20px 0px;
	}
}


p.head {
	font-size: 27.5px;
}

p#guessesHeader {
	margin-bottom:0px;
}

p#popUpTitle {
	text-align: center;
}

p.error {
	color: #aba9a9;
}

p#invalid {
	font-size: 15px;
}

span.choice {
	color: black;
	font-size: 17px;
}

.content {
	display: flex;
  align-items: center;
	flex-direction: column;
	justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}

.wordContainer {
	margin: 0 auto;
	text-align: center;
	max-width:500px;
}

.smallGuessTitle {
	font-size:13px;
}

#wordsSideOnlyTop {
	border-radius: 10px;
	padding: 7px;
	background: repeating-linear-gradient( 45deg, #c3c9ec, #c3c9ec 10px, #b0b6dc 10px, #b0b6dc 20px);
}

#wordsSideOnlyOther {
	border-radius: 10px;
	padding: 7px;
	background: repeating-linear-gradient( 45deg, #ececec, #ececec 10px, #e1e1e1 10px, #e1e1e1 20px);
}

.ncontent {
  align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
  margin: 0 auto;
}

.gauge {
  margin: 0 auto;
  max-width: 500px;
  pointer-events: none;
  position: relative;
}

.login {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  line-height: 35px;
  padding-top: 25px;
}

/* top bar */

.top {
	padding-top: 17px;
	padding-bottom: 6px;
	background-color: #303133;
	display: flex;
	align-items: center;
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1.5px solid #4A4B52;
  z-index: 50;
}

#shareOverlay {
	position: fixed;
}

button.revealMore {
	font-family: 'Oxygen', sans-serif;
	background-color: #FFFFFF;
	color: #D7D7D7;
	border-radius: 15px;
	font-size: 15px;
	border: none;
	padding: 5px;
	cursor: pointer;
}

button.revealEvenMore {
	font-family: 'Oxygen', sans-serif;
	background-color: #232323;
	color: #D7D7D7;
	font-size: 15px;
	border: none;
	padding: 5px;
	cursor: pointer;
}

button.revealEvenMore:hover {
	background-color: #303133;
	border-radius: 5px;
}

input.revealEvenMore {
	font-family: 'Oxygen', sans-serif;
	background-color: #232323;
	color: #D7D7D7;
	font-size: 15px;
	border: none;
	padding: 5px;
	cursor: pointer;
	-webkit-appearance: none;
}

input.revealEvenMore:hover {
	background-color: #303133;
	border-radius: 5px;
}

a.revealEvenMore {
	font-family: 'Oxygen', sans-serif;
	color: #D7D7D7;
	font-size: 15px;
	border: none;
	padding: 5px;
	cursor: pointer;
  text-decoration: none;
	-webkit-appearance: none;
}

a.revealEvenMore:hover {
	background-color: #303133;
	border-radius: 5px;
}

#title {
	font-size: 40px;
  font-family: 'Courier Prime', monospace;
  font-weight: 700;
  display: inline-block; /*#626262*/
  margin: 0 auto;
  color: white;
}

.more {
	display: inline-block;
	position:absolute;
	right: 25px;
}

.shareIcon {
	display: none;
	position:absolute;
	right: 60px;
}

.switchVersion {
	display: none;
	background-color:#121212;
	color:#D7D7D7;
	border-radius:10px;
	padding:5px;
	left:40px;
	position:absolute;
	font-size:13px;
	margin-bottom:8px;
}


#additionalInfo {
	background-color: #232323;
	border-radius: 5px;
	padding: 3px;
	padding-bottom: 9px;
	top: 10px;
	right: 10px;
	display: none;
	text-align: right;
}


#completeOverlay {
	display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
	background-color: rgba(233, 233, 233, 0.6);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.overlay {
	display: flex;
	display: none;
	position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
	z-index: 1000;
}

#yesterdayOverlay {
	display: flex;
	display: none;
	position: absolute;
	height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: right;
  z-index: 1000;
}

#doneOverlay {
	padding-top: 350px;
}

.popUpBox {
	margin-top: 75px;
  width: 700px;
  height: 100%;
	background-color: #303133;
	border-radius: 7px;
}

#closePlayInfo {
	margin: 5px;
}

#overInfo {
  width: 600px;
  margin-top: 95px;
  min-height: 600px;
  background-color: #303133;
	margin-bottom: 10px;
	border-radius: 5px;
}

@media only screen and (max-width: 500px){
	.popUpBox {
	  width: 100%;
	  margin-right: 10px;
	  margin-left: 10px;
	  margin-top: 10px;
	  margin-bottom: 10px;
	  min-height: 100%;
	  background-color: #303133;
		border-radius: 5px;
	}
}

@media only screen and (max-width: 500px){
	#overInfo {
	  width: 100%;
	  margin-right: 10px;
	  margin-left: 10px;
	  margin-top: 85px;
	  min-height: 500px;
	  background-color: #303133;
		border-radius: 5px;
	}
}

.sideBox {
	display: flex;
	margin-top: 0px;
	height: 500px;
  width: 400px;
  flex-direction: column;
  background-color: #303133;
	margin-bottom: 10px;a
	border-radius: 5px;
	/*z-index: 99;*/
}

.choiceBox {
	display: flex;
	margin-top: 40px;
	padding-top: 5px;
  width: 160px;
  min-height: 65px;
  flex-direction: column;
  background-color: #303133;
	margin-bottom: 10px;
	border-radius: 10px;
}

@media only screen and (max-width: 500px){
	.choiceBox {
		display: flex;
		margin-top: 40px;
		padding-top: 5px;
	  width: 200px;
	  min-height: 65px;
	  flex-direction: column;
	  background-color: #303133;
		margin-bottom: 10px;
		border-radius: 10px;
	}
}

.adminSideBox {
	display: flex;
	margin-top: 0px;
	min-height: 400px;
  width: 400px;
  flex-direction: column;
  background-color: #303133;
	margin-bottom: 10px;
	border-radius: 5px;
	/*z-index: 99;*/
}

.close {
	text-align: right;
	color: #D7D7D7;
}

.close button {
	background-color: transparent;
	font-size: 20px;
	border: none;
	cursor: pointer;
	color: #D7D7D7;
}

@media only screen and (max-width: 500px){
	.close button {
		background-color: transparent;
		font-size: 30px;
		border: none;
		cursor: pointer;
		color: #D7D7D7;
		right: 0;
	}
}

.popUp {
	text-align: center; /*change this later*/
	padding-left: 20px;
	padding-right: 20px;
}

div#wordExample {
	text-align: center;
}

.choiceInner {
	text-align: center;
	align-items: center;
	padding-left: 5px;
	line-height: 35px;
	padding-right: 5px;
}


/* Share */

.shareBox {
	display: flex;
	margin-top: 40px;
	padding-top: 5px;
  width: 200px;
  min-height: 50px;
  flex-direction: column;
  /*background-color: #EEEEEE;
	box-shadow: 0px 0px 6px 3px #CBCBCB;*/
	margin-bottom: 10px;
	border-radius: 5px;
}

@media only screen and (max-width: 500px){
	.shareBox {
		display: flex;
		margin-top: 40px;
		padding-top: 5px;
	  width: 200px;
	  min-height: 50px;
	  flex-direction: column;
	  /*background-color: #EEEEEE;
		box-shadow: 0px 0px 6px 3px #CBCBCB;*/
		margin-bottom: 5px;
		border-radius: 5px;
	}
}

.shareInner {
	text-align: center;
	align-items: center;
	padding: 5px;
	padding-bottom: 10px;
	font-size: 20px;
}

/* END of Share */


#mainContent {
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 235px;
	margin-top: 90px;
}

.keyBoard {
  height: 120px;
  width:100%;
  position: fixed;
  margin: 0 auto;
  text-align: center;
  bottom: 50px;
  left: 0;
  right: 0;
  z-index: 50;
}

@media only screen and (max-width: 500px){
	.keyBoard {
	  height: 120px;
	  width:100%;
	  position: fixed;
	  margin: 0 auto;
	  text-align: center;
	  bottom: 105px;
	}
}

.keyWidth {
	display: inline-block;
	background-color: #55555A;
	border-radius: 30px;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	width: auto;
}

img.tile {
	height: 60px;
	width: 60px;
}

img#score_gauge {
	max-width: 80%;
	height: auto;
	display: inline;
	position: absolute;
}

/* img.letterExplained, input#img#scoreArrow, .keyRow input, .otherActions input {*/

img#scoreArrow {
	max-width: 5.5%;
	height: auto;
	position: absolute;
	z-index: 20;
	bottom: 23px;
	filter: invert(80%);
}

img.letterExplained {
	height: 45px;
	width: auto;
}

img#moreButton {
	height: 25px;
	width: auto;
	transition: 0.2s;
	filter: invert(90%);
}

img#moreButton:hover {
	cursor: pointer;
}

img#shareIconInner {
	height: 25px;
	width: auto;
	transition: 0.2s;
	filter: invert(90%);
}

img#shareIconInner:hover {
	cursor: pointer;
}

input#share {
	height: 55px;
	width: auto;
	margin: 3px 1px;
	border: none;
	touch-action: manipulation;
}

input#share:hover {
}

input#share:active {
}

input {
	font-family: 'Oxygen', sans-serif;
}

.formContents {
	pointer-events: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
}


.formContents::selection {
  background-color: rgba(0, 0, 0, 0);
}

/*
input.tile {
	font-family: 'Courier Prime', monospace;
	height: 65px;
	width: 75px;
	line-height: 60px;
	padding-top: 10px;
	font-size: 55px;
  text-align: center;
	text-transform: uppercase;
	border: 4px solid #808080;
	border-radius: 6px;
	caret-color: transparent;
	margin: 2px;
	-webkit-appearance: none;
	background-color: #303133;
	color: #D7D7D7;
}

@media only screen and (max-width: 500px) {
	input.tile {
		font-family: 'Courier Prime', monospace;
		height: 40px;
		width: 42px;
		line-height: 60px;
		padding: 0px 0px 2px 0px;
		font-size: 44px;
	  text-align: center;
		text-transform: uppercase;
		border: 4px solid #808080;
		border-radius: 3px;
		caret-color: transparent;
		margin: 2px;
	}
}

input.tile:focus {
	outline-width: 0;
}

input.tile::selection {
  background-color: rgba(0, 0, 0, 0);
}*/

.tile {
	font-family: 'Courier Prime', monospace;
	font-weight:700;
	height: 50px;
	width: 60px;
	font-size: 50px;
	padding: 5px 0px 3px 0px;
	text-transform: uppercase;
	border: 6px solid #808080;
	border-radius: 5px;
	caret-color: transparent;
	margin: 2px;
	-webkit-appearance: none;
	background-color: #303133;
	color: #D7D7D7;
}


.guessRow {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width:500px;
}

@media only screen and (max-width: 500px) {
	.guessRow {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width:370px;
	}
}


.wordScore {
	width: 30px;
	height: 30px;
	background-color: #303133;
	border-radius:5px;
	border:2px solid #535353;
	display:flex;
	align-items: center;
	justify-content: center;
	position: absolute;
  right: 15px;
  margin-left: 10px;
	color:gray;
}

@media only screen and (max-width: 500px) {
	.wordScore {
		font-size: 12.5px;
		width: 22.5px;
		height: 22.5px;
		background-color: #303133;
		border-radius:5px;
		border:2px solid #535353;
		display:flex;
		align-items: center;
		justify-content: center;
		position: absolute;
	  right: 17.5px;
	  margin-left: 10px;
	}
}

@media only screen and (max-width: 500px) {
	.tile {
		font-family: 'Courier Prime', monospace;
		font-weight: bold;
		height: 35px;
		width: 42px;
		font-size: 35px;
		padding: 3.5px 0px;
		text-transform: uppercase;
		border: 4px solid #808080;
		border-radius: 3px;
		caret-color: transparent;
		margin: 2px;
	}
}

.tile:focus {
	outline-width: 0;
}

.tile::selection {
  background-color: rgba(0, 0, 0, 0);
}


input.submit {
  border:  none;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
}

input#tryAgain {
	background-color: #53836E;
	color: #FFFFFF;
	border-radius: 5px;
	font-size: 18px;
	padding: 5px 10px;
}

.keyRow input {
	height: 55px;
	width: auto;
	margin: 3px 1px;
	border: none;
	touch-action: manipulation;
}

.keyRow input:hover {
	width: auto;
	cursor: pointer;
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.75));
}

.keyRow input:focus {
	width: auto;
	cursor: pointer;
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.75));
}

.keyRow input:active {
	width: auto;
	cursor: pointer;
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.99));
}

.otherActions input {
	height: 55px;
	margin: 3px 1px;
	border: none;
	touch-action: manipulation;
}

.otherActions input:hover {
	width: auto;
	cursor: pointer;
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.75));
}

.otherActions input:active {
	width: auto;
	cursor: pointer;
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.99));
}

#disabledKeyboard input {
	cursor: not-allowed;
}

#disabledKeyboard input:hover {
	cursor: not-allowed;
	filter: none;
}

#disabledKeyboard input:active {
	cursor: not-allowed;
	filter: none;
}

input.logInput {
	font-family: 'Oxygen', sans-serif;
	background-color: #FFFFFF;
	color: black;
	border-radius: 5px;
	font-size: 15px;
	border: none;
	padding: 5px;
}

input#logInSubmit {
	font-family: 'Oxygen', sans-serif;
	color: black;
	border-radius: 5px;
	font-size: 15px;
	border: none;
	padding: 5px;
	background-color: #B3D1EA;
	cursor: pointer;
	-webkit-appearance: none;
}

input.choice {
	max-height: 35px;
	width: auto;
	border: none;
}

input.genData {
	font-family: 'Oxygen', sans-serif;
	background-color: #FFFFFF;
	color: black;
	border-radius: 5px;
	font-size: 15px;
	border: none;
	padding: 5px;
	cursor: pointer;
}

a.logButtons {
	font-family: 'Oxygen', sans-serif;
	background-color: #FFFFFF;
	color: black;
	border-radius: 15px;
	font-size: 15px;
	border: none;
	padding: 5px;
	cursor: pointer;
  text-decoration: none;
  color: initial;
}

a.button {
  background-color: #CBCBCB;
  border-radius: 10px;
  padding: 5px 20px 5px;
  font-size: 20px;
  text-decoration: none;
  color: initial;
}

span.tally {
	background-color: #303133;
	font-size: 22px;
	border-radius: 8px;
	padding: 1px 7px;
	display: inline-block;
	width: 50px;
	float: right;
	text-align: center;
	border: 3px solid #D7D7D7;
	color: #D7D7D7;
	font-weight: bold;
}

span.check {
	color: #e6d56d;
  -webkit-text-stroke: 1.5px #9e901d;
}

@media only screen and (max-width: 500px) {
	span.tally {
		font-size: 13px;
		background-color: #303133;
		border-radius: 6px;
		padding: 1px 2px;
		display: inline-block;
		width: 37.5px;
		float:right;
		text-align: center;
		border: 2px solid #D7D7D7;
		color: #D7D7D7;
		font-weight: bold;
	}
}

.wordsDisplayed {
	line-height: 42px;
	font-size: 17px;
	margin-top: 45px;
}

@media only screen and (max-width: 500px) {
	.wordsDisplayed {
		line-height: 37px;
		font-size: 12px;
		margin-top: 0px;
	}
}

span.correct {
	padding: 5px;
	border: 2px solid #B2B2B2;
	background-color: #DEDEDE;
	border-radius: 5px;
	margin-bottom: 5px;
	white-space: pre;
	text-transform: capitalize;
	color: black;
}

span.correctBest {
	background-color: #9BD1A5;
	border-radius: 5px;
	padding: 5px;
	color: #8e7cc3;
	margin-bottom: 5px;
	white-space: pre;
	border: 3px solid black;
	text-transform: capitalize;

}

span.best {
	background-color: #C3B8E3;
	border-radius: 5px;
	border: 2px solid #AD9FD3;
	padding: 5px;
	margin-bottom: 40px;
	white-space: pre;
	text-transform: capitalize;
	color: black;
}

input#doneNext {
		background: repeating-linear-gradient(135deg, #AEC6F5, 0px, #AEC6F5, 5px, transparent 5px, transparent 7px, #AEC6F5 7px);
	  /*background-color: #AEC6F5;*/
    border-radius: 10px;
    padding: 5px 20px 5px;
    font-size: 20px;
    border:  none;
    color: initial;
    cursor: not-allowed;

}

span#doneDone {
		background-image: repeating-linear-gradient(135deg, #CBCBCB, 0px, #CBCBCB, 5px, transparent 5px, transparent 7px, #CBCBCB 7px);
	  /*background-color: #CBCBCB;*/
    border-radius: 10px;
    padding: 5px 20px 5px;
    font-size: 20px;
    color: initial;
    cursor: not-allowed;
}

span.maxPoints {
	color: #8e7cc3;
	font-weight: bold;
}

span#slide {
	font-style: italic;
	position: absolute;
	bottom: 50px;
	min-width: 90px;
}

@media only screen and (max-width: 500px) {
	span#slide {
		bottom: 40px;
		font-size: 12px;
	}
}

div#haveFun {
	text-align: center;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* SLIDE IN */

.slideIn {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 998; /* Sit on top */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #212223; /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.2s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  border: none;
  border-radius: 0px 20px 20px 0px;
  display: flex;
}

/* Position the content inside the overlay */
.slideIn-content {
	display: none;
  width: 90%; /* 100% width */
  align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
  margin: 0 auto;
  text-align: center;
}

#showSlide {
	position: fixed;
	top: 17px;
	left: 0;
	background-color: #121212;
	border-radius: 0px 10px 10px 0px;
	cursor: pointer;
	z-index: 99;
	transition: 0.2s;
	white-space: nowrap;
	font-size: 16px;
	width: 30px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

#closeNav {
	position: absolute;
	right: 10px;
	top: 10px;
	font-color: black;
}

.countdown {
	font-size: 40px;
}

.newLex {
	font-size: 15px;
	margin-top: 40px;
}

.smallSubhead {
	font-size: 15px;
	margin-bottom:40px;
	line-height: 20px;
}

#finishedTop {
	margin-top: 125px;
}

#wordCheck {
	color: #D7D7D7;
	font-weight: bolder;
}



/* SWITCH */

#darkMode {
	margin-left: 5px;
}

#switch {
	display: none;
	position: absolute;
	left: 10px;
	bottom: 10px;
	display: flex;
	align-items: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
