body {
	background-color: #E9E9E9;
	font-family: 'Oxygen', sans-serif;
	height: 100%
}

#all {
	padding-left: 25px;
	padding-right: 25px;
}

p {
	font-size: 20px;
}

p.head {
	font-size: 27.5px;
}

p.error {
	color: #646464;
}

.title {
  width: 700px;
}


.top {
	margin: 0 auto;
  text-align: center;
}

.content {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.ncontent {
  width: 700px;
  margin: 0 auto;
}


/*.info {
	position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
	animation-name: slidein;
	animation-duration: 2s;
	animation-timing-function: linear;
	z-index: 2000;
}*/


/* top bar */

header {
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #E9E9E9;
}

button.revealMore {
	font-family: 'Oxygen', sans-serif;
	background-color: #FFFFFF;
	color: black;
	border-radius: 15px;
	font-size: 15px;
	border: none;
	padding: 5px;
	cursor: pointer;
	box-shadow: 0px 0px 3px 1px #CBCBCB;
}

#title {
	font-size: 30px;
	text-align: center;
	justify-content: center;
	right: 0;
	left: 0;
}

#yesterday {
	display: flex;
	justify-content: flex-end;
}

#info {
	display: flex;
	justify-content: flex-start;
}

.overlay {
	display: flex;
	display: none;
	position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: center;
	background-color: rgba(233, 233, 233, 0.6);
}

.popUpBox {
	display: flex;
	margin-top: 40px;
  width: 700px;
  min-height: 700px;
  flex-direction: column;
  background-color: #FFFFFF;
	box-shadow: 0px 0px 20px 10px #CBCBCB;
	z-index: 99;
}

.close {
	text-align: right;
}

.close button {
	background-color: #FFFFFF;
	font-size: 20px;
	border: none;
	cursor: pointer;
}

.popUp {
	text-align: center;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}

#all {
  min-height: 100%;
  position:relative;
}

#mainContent {
	padding-bottom: 190px
}

.keyBoard {
  height: 120px; 
  width:100%;
  position: fixed;
  margin: 0 auto;
  text-align: center;
  bottom: 80px;
  right: 9px;
}

.keyWidth {
	display: inline-block;
	background-color: white;
	border-radius: 30px;
	padding: 10px;
	box-shadow: 0px 0px 7px 3.5px #CBCBCB;
}

img.tile {
	height: 60px;
	width: 60px;
}

img.score_gauge {
	width: 400px;
	height: auto;
	vertical-align: top;
}

img.letterExplained {
	height: 45px;
	width: auto;
}

input {
	font-family: 'Oxygen', sans-serif;
}

.formContents {
	pointer-events: none; 
}

.formContents::selection {
  background-color: rgba(0, 0, 0, 0);
}

input.tile {
	font-family: 'Courier Prime', monospace;
	height: 65px;
	width: 70px;
	padding-top: 10px;
	font-size: 55px;
  text-align: center;
  vertical-align: middle;
	text-transform: uppercase;
	border-radius: 10px;
	border:  none;
	caret-color: transparent;
	margin: 2px;
}

input.tile:focus {
	outline-width: 0;
}

input.tile::selection {
  background-color: rgba(0, 0, 0, 0);
}

input.submit {
  border:  none;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
}

input#tryAgain {
	background-color: #53836E;
	color: #FFFFFF;
	border-radius: 5px;
	font-size: 17px;
	padding: 5px;
	box-shadow: 0px 0px 4px 2px #CBCBCB;
}

/*
.keyRow input {
	font-size: 17px;
	height: 50px;
	width: 40px;
	margin: 3px 1px;
	border: none;
	border-radius: 5px;
	background-color: #FFFFFF;
}

.keyRow input#del {
	width: 60px;
}

.keyRow input:hover {
	background-color: #F5F5F5;
	cursor: pointer;
}

.keyRow input:active {
	background-color: #E3E3E3;
	cursor: pointer;
}

*/

.keyRow input {
	height: 55px;
	width: auto;
	margin: 3px 1px;
	border: none;
}

.keyRow input:hover {
	width: auto;
	cursor: pointer;
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.75));
}

.keyRow input:active {
	width: auto;
	cursor: pointer;
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.99));
}

.otherActions input {
	height: 55px;
	margin: 3px 1px;
	border: none;
}

.otherActions input:hover {
	width: auto;
	cursor: pointer;
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.75));
}

.otherActions input:active {
	width: auto;
	cursor: pointer;
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.99));
}

#disabledKeyboard input { 
	cursor: not-allowed;
}

#disabledKeyboard input:hover { 
	cursor: not-allowed;
	filter: none;
}

#disabledKeyboard input:active { 
	cursor: not-allowed;
	filter: none;
}



a.button {
  background-color: #CBCBCB;
  border-radius: 10px;
  padding: 5px 20px 5px;
  font-size: 20px;
  text-decoration: none;
  color: initial;
}

span.tally {
	background-color: #FFFFFF;
	border-radius: 6px;
	padding: 9.5px;
	display: inline-block;
}

span.correct {
	background-color: #9BD1A5;
	border-radius: 5px;
	padding: 5px;
	color: #FFFFFF;
}

span.correctBest {
	background-color: #9BD1A5;
	border-radius: 5px;
	padding: 5px;
	color: #FDDE80;
}


span.best {
	background-color: #e6b932;
	border-radius: 5px;
	padding: 5px;
	color: #FFFFFF;
}

input#doneNext {
		background: repeating-linear-gradient(135deg, #AEC6F5, 0px, #AEC6F5, 5px, transparent 5px, transparent 7px, #AEC6F5 7px);
	  /*background-color: #AEC6F5;*/
    border-radius: 10px;
    padding: 5px 20px 5px;
    font-size: 20px;
    border:  none;
    color: initial;
    cursor: not-allowed;

}

span#doneDone {
		background-image: repeating-linear-gradient(135deg, #CBCBCB, 0px, #CBCBCB, 5px, transparent 5px, transparent 7px, #CBCBCB 7px);
	  /*background-color: #CBCBCB;*/
    border-radius: 10px;
    padding: 5px 20px 5px;
    font-size: 20px;
    color: initial;
    cursor: not-allowed;
}

span.maxPoints {
	color: #c9a128;
}

