<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Word Game</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">

	<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript">
		function moveOnMax(field,nextFieldID){
		  if(field.value.length >= field.maxLength){
		    document.getElementById(nextFieldID).focus();
		  }
		}
	</script>

	<script type="text/javascript">
		$(document).ready(function () {
		    // Handler for .ready() called.
		    $('html, body').animate({
		        scrollTop: $('#finished').offset().top
		    }, 'slow');
		});
	</script>
</head>
<body>
	<div class="top">
		<p class="head">Word Game</p>
	</div>
	<div class="content">
		{% for letter in letters %}
			<img class="tile" src="{{url_for('static', filename = letter+'.svg')}}">
		{% endfor %}

		<p>{{totalWords}}</p>

		<p>
			<input class="tile" type="text" name="1" id="1" required maxlength="0" autofocus="autofocus" onkeyup="moveOnMax(this,'2')" autocomplete="off">
			<input class="tile" type="text" name="2" id="2" required maxlength="0" onkeyup="moveOnMax(this,'3')" autocomplete="off">
			<input class="tile" type="text" name="3" id="3" required maxlength="0" onkeyup="moveOnMax(this,'4')" autocomplete="off">
			<input class="tile" type="text" name="4" id="4" maxlength="0" onkeyup="moveOnMax(this,'5')" autocomplete="off">
			<input class="tile" type="text" name="5" id="5" maxlength="0" onkeyup="moveOnMax(this,'next')" autocomplete="off">
			<br>
			<br>
			<span id="doneNext">Guess</span>
			<span id="doneDone">Done</span>
		</p>
		<p class="error"><em>{{error}}&nbsp;</em></p>
	</div>
	<div class="ncontent">
		<p style="margin-left: 90px;">
			<img style="max-width: 3%; height: auto; margin-left: {{scorePos}}%;" src="{{url_for('static', filename='score_arrow.svg')}}">
			<br>
			<img class="score_gauge" src="{{url_for('static', filename = 'score_gauge.svg')}}"> &nbsp; &nbsp; <span class="tally">{{score}} points</span>
		</p>
	</div>
	<div class="content">
	  <div class="keyRow">
	      <input type="button" value="Q" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="W" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="E" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="R" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="T" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="Y" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="U" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="I" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="O" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="P" onclick="document.getElementById(activeTile()).value = $(this).val()">
	  </div>
	  <div class="keyRow">
	      <input type="button" value="A" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="S" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="D" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="F" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="G" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="H" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="J" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="K" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="L" onclick="document.getElementById(activeTile()).value = $(this).val()">
	  </div>
	  <div class="keyRow">
	      <input type="button" value="Z" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="X" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="C" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="V" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="B" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="N" onclick="document.getElementById(activeTile()).value = $(this).val()">
	      <input type="button" value="M" onclick="document.getElementById(activeTile()).value = $(this).val()">
	  </div>
	<div class="content">
		<p>	
			{% for guess in guesses %}
				<span class="correct">{{guess}}, {{guesses[guess]}} ✓</span>
			{% endfor %}
		</p>
	</div>
	<div class="content" id="finished">
		<p>	{{scoreGauge}}</p>
		<p>With a score of <span id="maxPoints"><strong>{{maxPoints}}</strong></span>, the best possible words were:</p>
		<p>	
			{% for item in maxList %}
				<span class="best">{{item}}</span>
			{% endfor %}
		</p>

		<form method="post">
			<p>
				<input class="submit" type="submit" id = "next" name="nextButton" value = "Try Again">
			</p>
		</form>
	</div>
</body>
</html>