<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<title>Lex</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css', v=lid)}}">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">	

	<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).keydown(
		    function(e)
		    {    

		        if (e.keyCode == 27) {      
		        	$("#completeOverlay").fadeOut("fast");
		            $(".overlay").fadeOut("fast");
		            $("#additionalInfo").fadeOut("fast");
		        }
		    }
		);
	</script>
	<script type="text/javascript">
		$(document).ready(function() {

			var position = (76.5*{{score}}/{{maxPoints}}).toFixed(2);

			$("#scoreArrow").css('marginLeft', position+'%');
		})
	</script>
	<script type="text/javascript">
		$(document).ready(function () {
		    // Handler for .ready() called.
		    $('html, body').animate({
		        scrollTop: $('#finished').offset().top
		    }, 'slow');
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
		    $("#showYesterday").click(function(){
		        $("#completeOverlay").fadeIn("fast");		    	
		        $("#yesterdayOverlay")
		        	.css('display', 'flex')
		        	.hide()
		        	.fadeIn("fast");
		    }); 
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
		    $("#closeYesterday").click(function(){
		        $("#completeOverlay").fadeOut("fast");
		        $("#yesterdayOverlay").fadeOut("fast");
		    }); 
		});
	</script>

	<script type="text/javascript">
		$(document).ready(function() {
		    $("#showInfo").click(function(){
		        $("#completeOverlay").fadeIn("fast");
		        $("#infoOverlay")
		        	.css('display', 'flex')
		        	.hide()
		        	.fadeIn("fast");
		    }); 
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
		    $("#closePlayInfo").click(function(){
		        $("#completeOverlay").fadeOut("fast");
		        $("#infoOverlay").fadeOut("fast");
		    }); 
		});
	</script>
	<!--
	<script type="text/javascript">
		$(document).ready(function() {
			$('#share').click(function(){
			    navigator.clipboard
			      .writeText('Lex {{lid}}: {{level}}')
			      .then(() => {
			        alert("Results copied to clipboard!");
			      })
			      .catch(() => {
			        alert("Could not copy results to clipboard.");
			      });
			});
		});
	</script>-->
	<script type="text/javascript">
		$(document).ready(function() {
			  const shareData = {
				    title: 'Lex',
				    text: 'Lex {{lid}}: {{level}}'
				}

			  const btn = document.querySelector('#share');
			  const sharePara = document.querySelector('#shareDetails');

			  btn.addEventListener('click', async () => {
				if (navigator.canShare) {
				  navigator.share(shareData)
				} else {
				 	navigator.clipboard
						.writeText('Lex {{lid}}: {{level}}')
						.then(() => {
							sharePara.textContent = 'Results copied to clipboard!';
							})
						.catch(() => {
							sharePara.textContent = 'Could not copy results.';
							})
					$("#completeOverlay")
						.fadeIn("fast")
						.delay(1100).fadeOut("fast");
					$("#shareOverlay")
						.css('display', 'flex')
						.hide()
						.fadeIn().delay(1000).fadeOut("fast");
					};
				});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
		    $("#moreID").click(function(){
		        $("#additionalInfo")
		        	.toggle()
		        	.hide()
		        	.fadeIn("fast");
		    }); 
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
		    $("#closeAllInfo").click(function(){
		        $("#additionalInfo")
		        	.toggle()
		        	.show()
		        	.fadeOut("fast");
		    }); 
		});
	</script>
</head>
<body>
	<div id="completeOverlay"></div>
	<div id="all">
		<!-- NON FEEDBACK (LOGIN)
		<div class="top">
			<div id="title">LEX</div>
			<div class="more" id="moreID"><button class="revealMore" id="moreInfo" type="button" onfocus="this.blur();">More</button></div>
			<div class="more" id="additionalInfo">
				<div class="close"><button id="closeAllInfo" type="button">✕</button></div>		
				<div id="info"><button id="showInfo" class="revealEvenMore" type="button" onfocus="this.blur();">How to Play</button></div>
				<div id="yesterday"><button id="showYesterday" class="revealEvenMore" type="button" onfocus="this.blur();">Yesterday</button></div>
				<div id="login"><a class="revealEvenMore" href="{{ url_for('login') }}">Log In</a></div>
			</div>
		</div>
	    -->
	    <div class="top">
			<div id="title">LEX</div>
			<div class="more" id="moreID"><button class="revealMore" id="moreInfo" type="button" onfocus="this.blur();">More</button></div>
			<div class="more" id="additionalInfo">
				<div class="close"><button id="closeAllInfo" type="button">✕</button></div>		
				<div id="info"><button id="showInfo" class="revealEvenMore" type="button" onfocus="this.blur();">How to Play</button></div>
				<div id="yesterday"><button id="showYesterday" class="revealEvenMore" type="button" onfocus="this.blur();">Yesterday</button></div>
				<div id="login"><a class="revealEvenMore" href="{{ url_for('feedback') }}">Feedback</a></div>
			</div>
		</div>
		<div id="mainContent">
			<div class="overlay" id="yesterdayOverlay">
				<div class="sideBox" id="yesterdayInfo">	
					<div class="close">
						<button id="closeYesterday" type="button">✕</button>
					</div>		
					<div class="popUp" id="yesterdayDetails">
						<p class="head">Yesterday</p>
						<p>Here are yesterday's best words with a total score of <span class=maxPoints>{{oldMaxPoints}}</span>:<br></p>
						<div class="wordsDisplayed">
							{% for item in oldBestList %}
							<span class="best">{{item}}</span>
							{% endfor %}
						</div>
						<p><br>How many did you find?</p>
					</div>
				</div>				  	
			</div>
			<div class="overlay" id="infoOverlay">
				<div class="popUpBox" id="playInfo">	
					<div class="close">
						<button id="closePlayInfo" type="button">✕</button>
					</div>		
					<div class="popUp" id="playInfoDetails">
						<p class="head">How to Play</p>

						<p>Given 8 randomly chosen letters, which will always include at least 2 vowels, find the 5 words with the highest-scoring point tally. You have 10 guesses to find them, and your total score represents the 5 best words you have guessed. The words need to have least 3 letters, and point values are assigned as following:
						<br>
						<br>

						<!-- ALL LETTERS -->

						<img class="letterExplained" src="{{url_for('static', filename = 'a.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'b.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'c.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'd.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'e.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'f.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'g.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'h.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'i.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'j.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'k.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'l.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'm.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'n.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'o.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'p.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'q.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'r.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 's.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 't.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'u.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'v.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'w.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'x.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'y.svg')}}">
						<img class="letterExplained" src="{{url_for('static', filename = 'z.svg')}}">


						<br><br>
						Each time you guess a valid word, it will show up above the keyboard. If you guess 1 of the 5 highest-value words, the word will show up as purple. <br><br>

						<span class="best">Jump, 15</span>
						<span class="correct">Plume, 9</span>
						<span class="correct">Hum, 8</span>

						<br><br>

						If you aren't able to get all of the words, that's okay! You'll be able to see the 5 best words the next day.

						<br><br>

						Have fun!
						</p>
					</div>
				</div>	
			</div>
			<div class="content">
				<!--{% for letter in letters %}
					<img class="tile" src="{{url_for('static', filename = letter+'.svg')}}">
				{% endfor %}-->

				<p>Find the 5 highest-value words to reach <span class="maxPoints">{{maxPoints}}</span> points</p>

				<p>
					<div class="formContents">
						<input class="tile" onClick="this.select();" type="text" name="1" id="1" required maxlength="1" autofocus="autofocus"autocomplete="off" onfocus="blur();">
						<input class="tile" onClick="this.select();" type="text" name="2" id="2" required maxlength="1" autocomplete="off" onfocus="blur();">
						<input class="tile" onClick="this.select();" type="text" name="3" id="3" required maxlength="1" autocomplete="off" onfocus="blur();">
						<input class="tile" onClick="this.select();" type="text" name="4" id="4" maxlength="1" autocomplete="off" onfocus="blur();">
						<input class="tile" onClick="this.select();" type="text" name="5" id="5" maxlength="1" autocomplete="off" onfocus="blur();">
					</div>
					<!--<input class="submit" type="submit" id="doneNext" name="nextButton" value="Guess" disabled>
					<span id="doneDone">Done</span>-->
				</p>
				<p class="error"><em>{{error}}&nbsp;</em></p>
			</div>
			<div class='gauge'>
					<img id="scoreArrow" style="max-width: 3.5%; height: auto;" src="{{url_for('static', filename='score_arrow.svg')}}">
					<br>
					<img id="score_gauge" src="{{url_for('static', filename = 'score_gauge.svg')}}"> &nbsp; &nbsp; <span class="tally">{{score}}</span>
			</div>
		  	<div class="content" style="max-width:500px;">
		  		<br>
				<div class="wordsDisplayed">
					{% for guess in guesses %}
						{% if guess in bestWordsOnly %}
							<span class="best">{{guess}}, {{guesses[guess]}}</span>
						{% else %}
							<span class="correct">{{guess}}, {{guesses[guess]}}</span>
						{% endif %} 
					{% endfor %}
				</div>
			</div>
			<div class="overlay" id="shareOverlay">
				<div class="shareBox" id="shareDisplay">
					<div class="shareInner" id="shareDetails">
					</div>
				</div>
			</div>	
			<div class="content" id="finished">
				<p>{{scoreGauge}} {{score}} points.</p>
				<!--<p>{{addInfo}} <span class="maxPoints">{{maxPoints}}</span> points.</p>-->
				<!--
				<form method="post">
					<p>
						<input class="submit" type="submit" id="tryAgain" name="Try Again" value="Try Again">
					</p>
				</form>
			    -->
			    <input type="image" id="share" value="share" src="{{url_for('static', filename = 'share.svg')}}" onfocus="this.blur();">
			</div>
		</div>
		<div class="keyBoard" id="disabledKeyboard">
			<div class="keyWidth">
			 	<div class="keyRow">
					{% for letter in letters %}
						<input type="image" value="{{letter}}" src="{{url_for('static', filename = letter+'.svg')}}">
					{% endfor %}
				</div>
					<div class="otherActions">
					<input class="submit" type="image" id="next" src="{{url_for('static', filename = 'guess.svg')}}" name="submit" form="letterField" onfocus="this.blur();">
					<input type="image" id="del" value="⌫" src="{{url_for('static', filename = 'del.svg')}}" onclick="del();" onfocus="this.blur();">
					<input type="image" id="done" value="done" src="{{url_for('static', filename = 'giveUp.svg')}}" onfocus="this.blur();">
				</div>
			</div>
		</div>
	</div>
</body>
</html>