<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Lex - Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content= "width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'light.css', v=lid)}}">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">	
	
	<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
	<div id="all">
		<div class="login">
			<div id="title">LEX</div><br>
			<a class="logButtons" href="{{ url_for('home') }}">Back</a> <br>
			<form method="post">
				<p>Login</p>
				<input class="logInput" type="text" name="usr" placeholder = 'Username' required><br>
				<input class="logInput" type="password" name="pwd" placeholder = 'Password' required><br>
				<input id="logInSubmit" type="submit" name="submit" value="Log In">
			</form>
		</div>
	</div>
</body>
</html>